.root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 64px;

  .heading {
    text-align: center;

    .title {
      font-family: var(--font-handjet), sans-serif;
      font-size: 64px;
      font-weight: 700;
      text-transform: uppercase;

      strong {
        color: var(--bg-secondary);
      }
    }

    .subtitle {
      font-size: 20px;
    }
  }

  .content {
    min-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem 3rem;
  }
}
